/**
 * blank.css is a responsive skeleton for trimsite
 *
 * It uses the CSS3 idea of defined sections:
 * - "main" is used as a container element for the entire page;
 * - "header" is used as a page header containing site title, etc;
 * - "nav" is used as the navigation (menu) bar;
 * - "section" holds the main page content; and
 * - "footer" is the page footer.
 * 
 * @author David Argles <d.argles@gmx.com>
 * @version 11-09-2015, 16:58h
 * @copyright 2015 Haven Consulting
 */

/**
 * ------------------------------------------------------------------------------------
 * We're using CSS3.  It's not supported by older browsers, so we need to add the 
 * following to ensure compatibility.  
 * Note 1: This should make it compatible with virtually any remaining legacy non-IE 
           browsers
 * Note 2: Legacy IE is dealt with in the HTML header via html5shiv.js
 * ------------------------------------------------------------------------------------
 */
main, header, banner, section, footer, aside, nav, article, figure {display:block;}

/**
 * ------------------------------------------------------------------------------------
 * The following section defines attributes that apply to all widths of screen display.
 * It's the only section that will be actioned by earlier IE browsers - all the 
 * subsequent @media sections will be ignored.
 * ------------------------------------------------------------------------------------
 */

/* body defines the entire area within the browser */
body
{
  font-family:;
  color:;
  background-color:;
}

/* main is the container for our site */
main
{
  max-width:;
  min-width:;
  background-color:;
  /*margin:0 auto; Note: this will centre the display */
  /* Note: the following two lines are supported by recent browsers only.  Non-IE 
           legacy support can be improved by adding -webkit and -moz options. */
  /* border-radius:10px 10px 10px 10px; Rounded corners
  box-shadow:0px 10px 20px rgba(0,0,0,0.6); Drop shadow */
}

/* header defines the page heading area.  It contains the page title, the 
 * page subtitle (or "tagline"), the site logo, and "figure" - the banner graphic.
 */
header
{
}
header h3{font-size:;}
header p{font-size:;font-style:;}
/* header img is the site logo */
header img{}
/* The header figure comes last inside header.  It is entirely empty as far as HTML 
 * content is concerned, but it allows us to display a graphic as a banner.
 */
header figure
{
  /* background-image:url('../graphics/'); */
  height:;
}

/* nav is the navigation bar.  nav itself and the menu links are redefined in 
 * the @media sections for the various screen widths; here we define the basics.
 */
nav
{  
  background-color:;
  height:;
}
/* The inner nav needs to not inherit the outer nav's left padding */
nav nav{padding-left:0px;}
/* a#menu is the menu icon. It needs to be hidden at normal widths */
nav a#menu{display:none;}
nav a
{
  text-decoration:;
  color:;
}
nav a.current{color:;}
nav a:hover{color:;}

/* section defines the main content area */
section
{
}
section h3{}
section p{}
section img{}
section pre{overflow:scroll;padding:20px;}

/* footer defines the bottom of the page */
footer
{
  font-style:;
  font-size:;
  color:;
}
footer p{}

/**
 * ------------------------------------------------------------------------------------
 * The following section applies to ALL screen widths.  It's here to undo any IE 
 * quirks inserted in the section above.
 * ------------------------------------------------------------------------------------
 */
@media screen
{
  /* Hint: If we design our template correctly, we can avoid having to undo IE quirks.
   *       One principle is to use padding rather than margin - it avoids browsers
   *       interpreting them differently ;-) */
}

/**
 * ------------------------------------------------------------------------------------
 * The following section defines attributes specific to narrow screen widths.  In 2015, 
 * this applies mainly to mobile phones in portrait mode.
 * ------------------------------------------------------------------------------------
 */
@media screen and (max-width:480px)
{
  body{font-size:;}
  header h3{font-size:;}
  header p{font-size:;}
  header img{height:;}

  nav{}
  nav a{}
  nav a:hover{}
  nav a.current{}

  section{}
  section h3{}
  section img{}
  footer {}
}

/**
 * ------------------------------------------------------------------------------------
 * The following section defines attributes specific to intermediate widths.  This will 
 * tend to apply to mobile phones in landscape mode, for example.
 * ------------------------------------------------------------------------------------
 */
@media screen and (min-width:481px) and (max-width:600px)
{
  header h3{}
  header p{}
  header img{}

  nav{}
  section{}
  footer{}
}

/**
 * ------------------------------------------------------------------------------------
 * The following section defines attributes specific to wider screen widths.
 * ------------------------------------------------------------------------------------
 */
@media screen and (min-width:601px)
{
  /* Note: This section is here to deal with anything specific to widths greater than
   *       600px.  If you get it right, it can all be dealt with by the main section. */
}

/**
 * ------------------------------------------------------------------------------------
 * The following section defines any changes of layout required for the printer.  This 
 * might include dropping out the banner graphic, for example.
 * ------------------------------------------------------------------------------------
 */
@media print
{
  /* header figure{background-image:none;} */
}
/**---------------------------------------------
 *             End of Code
 *----------------------------------------------
 */
