/**
 * left-menu4.css provides an old-skool website layout with a left-hand menu panel
 *
 * It uses the CSS3 idea of defined sections
 * 
 * @author David Argles <d.argles@gmx.com>
 * @version 27-12-2016, 15:34h
 * @copyright 2016 Haven Consulting
 */

/**
 * We're using CSS3.  It's not supported by older browsers, so we need to 
 * add the following to ensure compatibility.  Note: legacy IE is dealt 
 * with in the HTML header via html5shiv.js
 */
main, header, banner, section, footer, aside, nav, article, figure {display:block;}

/**
 * ------------------------------------------------------------------------------------
 * The following section defines attributes that apply to all widths of screen display.
 * It's the only section that will be actioned by earlier IE browsers - all the 
 * subsequent @media sections will be ignored.
 * ------------------------------------------------------------------------------------
 */

/* body defines the entire area within the browser */
body
{
  font-family:verdana,arial,sans-serif;
  background-color:#cc9;
}

/* main is the container for our site */
main
{
  max-width:850px;
  min-width:320px;
  margin:0 auto;
  background-color:black;
  border-radius:10px 10px 10px 10px;
  box-shadow: 	0px 10px 20px rgba(0,0,0,0.6);
}

/* header defines the area above the nav bar.  It contains the page title, the 
 * page subtitle (or "tagline"), the site logo, and "figure" - the banner graphic.
 */
header
{
  color:black;
  text-shadow: 2px 2px 1px rgba(128, 128, 255, 1);
  background-image:url('../graphics/seascapes.jpg');
  background-size:cover; /* Note: background-size doesn't work in legacy IE */
  margin:0 120px 0 120px;
  padding:5px 0 80px 0px;
  border-radius:10px 10px 0px 0px;
  text-align:left;
}
header h3
{
  font-size:2em;
  padding:0px;
  margin:0.8em 10px 0 10px;
}
header p
{
  font-size:1em;
  font-style:italic;
  padding:2px 0 5px 0px;
  margin:0 0 0 20px;
}
/* header img is the site logo.  It's expected to be 50px high by 65px wide */
header img{height:50px;float:left;margin:30px 10px 0 -90px;}
header figure{height:0px; margin:0;}

/* -----------------------------------------------------------------------------
 * nav is the navigation bar.  nav itself and the menu links are redefined in 
 * the @media sections for the various screen widths; here we define the basics.
 */
nav
{
  margin:0 auto;
  background-color:black;
  text-align:center;
  height:34px;
  padding:10px;
  float:left;
  width:100px;
}
/* The inner nav needs to not inherit the outer nav's left padding */
nav nav{padding:0px 0 0px 0;width:500px;text-align:left;border-radius:0px 10px 10px 0px;background-color:transparent;}
nav nav a{width:100px;}
/* The inner a's need to not inherit the nav's float left */
/*nav nav a{float:none;}*/
/* a#menu is the menu icon. It needs to be hidden at normal widths */
nav img{display:none;}
nav a, nav nav a:first-of-type
{
  display:block;
  color:white;;
  padding:8px 0px 8px 0px;
  text-align:center;
  /*margin:5px 0 5px 0;*/
  background:linear-gradient(#222, black, #111);
}
/*nav nav a:first-of-type{margin:0 0 5px 0;}*/
nav nav a:last-of-type{border-radius:0px 10px 10px 0px;}
nav nav{padding:0;margin-bottom:10px;}
nav nav a{margin-right:-20px;}
nav a:hover{color:#ccc;}
nav a.current, nav nav a.current{color:gray;}
nav a:link, a:visited{text-decoration:none;}
/* We need to hide the sub-menu... */
nav nav a{display:none;}
/* ...until we hover over it */
nav nav:hover > a
{
  display:inline-block;
}

/* section defines the main content area */
section
{
  background-color:white;
  padding:10px;
  margin:0 120px 0 120px;
}
section h3{padding-left:0px;}
section p{padding:0 10px 0 10px;}
section p.centre{text-align:center}
section ul li{padding:0.5em 0 0.5em 0;}
section table{padding-left:20px;font-style:italic;}
section td.wide{width:15em;}
section td.r-align{text-align:right;}
section img{display:block; margin-left:auto; margin-right:auto;}
section pre{overflow:scroll;padding:20px;}

/* footer defines the bottom of the page */
footer
{
  margin:0 120px 0 120px;
  font-style:italic;
  color:gray;
  background-color:white;
  padding:10px 10px 10px 10px;
  border-radius:0px 0px 0px 0px;
}

/**
 * ------------------------------------------------------------------------------------
 * The following section defines attributes specific to narrow screen widths.  In 2017, 
 * this applies mainly to mobile phones in portrait mode.
 * ------------------------------------------------------------------------------------
 */
@media screen and (max-width:520px)
{
  body{background-color:black;}
  header{margin:0 10px 0 10px;padding-bottom:60px;}
  header h3{margin-left:75px;font-size:1.5em;}
  header p{margin-left:85px;font-size:0.9em;}
  header img{height:50px;float:left;margin:20px 10px 0 5px;}
  header figure{margin:0 10px 0 10px;}
    
	nav, nav nav
	{
	  background-color:#ccc;
	  margin:0 10px 0 10px;
    overflow:hidden;
	  padding:0px 5px 0px 5px;
    font-size:small;
    float:none;
    width:inherit;
	  height:auto;
	}
	nav nav{float:left;margin:0;}
	nav a, nav nav a:first-of-type
	{
	  background:#999;
	  padding:4px 4px 4px 4px;
	  margin-right:3px;;
	  border-width:0em;
	  border-radius:5px 5px 0px 0px;
	  float:left;
	}
	nav nav a{width:auto;margin:0;}
	nav nav a{border-radius:0px;}
	nav nav a:last-of-type{border-radius:0px;}
	nav nav a:first-of-type{width:auto;margin-right:0;}
	nav nav:hover > a{display:block;float:none;}
	nav a:hover{color:#ccc;}
	nav a.current, nav nav a.current{background:white;}
	
  section{margin:0 10px 0 10px;}
  section h3{font-size:1.1em;}
  section {font-size:small;}
  section img{width:280px;}
  section table{font-size:small;}
  footer {margin:0 10px 0 10px;font-size:small;border-radius:0px 0px 5px 5px;}
}

/**
 * ------------------------------------------------------------------------------------
 * The following section defines attributes specific to intermediate widths.  This will 
 * tend to apply to mobile phones in landscape mode, for example.
 * ------------------------------------------------------------------------------------
 */
@media screen and (min-width:521px) and (max-width:700px)
{
    header{margin-right:0;border-radius:0px 10px 0px 0px;}
    /*header h3{margin-left:75px;}
    header p{margin-left:85px;}
    header img{height:50px;float:left;margin:8px 10px 0 5px;}*/
    header figure{margin-right:0;}
	nav
	{
	  margin:0 auto;
	  padding:10px;
	  background-color:black;
      text-align:center;
      height:2em;
      float:left;
      width:100px;
}
	nav a
	{
      display:block;
      /*float:left;*/
	  /*background-color:black;*/
	  background:linear-gradient(#222, black, #111);
      color:white;
	  padding:0.5em 1em 0.5em 0;
	  /*width:90px;*/
	  text-align:center;
	}
	nav a:hover{color:#ccc;background:linear-gradient(#111, black, #000);}
	nav a.current{color:gray;}

	section
	{
	  margin:0 0px 0 120px;
	}
	footer
	{
	  margin-left:120px;
	  border-radius:0px 0px 10px 0px;
	}
}

/**
 * ------------------------------------------------------------------------------------
 * The following section defines attributes specific to wider screen widths.
 * ------------------------------------------------------------------------------------
 */
@media screen and (min-width:701px)
{
    header
	{
	  border-radius:0px 0px 0px 0px;
    }
    nav a:hover{background:linear-gradient(#111, black, #000);}
	section {margin:0 120px 0 120px;}
	footer
	{
	  margin:0 120px 0 120px;
	  border-radius:0px 0px 0px 0px;
	}
}

/**
 * ------------------------------------------------------------------------------------
 * The following section defines any changes of layout required for the printer.  This 
 * might include dropping out the banner graphic, for example.
 * ------------------------------------------------------------------------------------
 */
@media print
{
  header figure{background-image:none;}
}
/**---------------------------------------------
 *             End of Code
 *----------------------------------------------
 */
