/**
 * trimsite4.css provides a basic website layout
 *
 * It uses the CSS3 idea of defined sections.  "main" is used as a container
 * element for the entire page.  This version includes provision for sub-menus.
 * 
 * @author David Argles <d.argles@gmx.com>
 * @version 24-12-2016, 00:28h
 * @copyright 2016 Haven Consulting
 */

/**
 * We're using CSS3.  It's not supported by older browsers, so we need to 
 * add the following to ensure compatibility.  Note: legacy IE is dealt 
 * with in the HTML header via html5shiv.js
 */
main, header, banner, section, footer, aside, nav, article, figure {display:block;}

/**
 * ------------------------------------------------------------------------------------
 * The following section defines attributes that apply to all widths of screen display.
 * It's the only section that will be actioned by earlier IE browsers - all the 
 * subsequent @media sections will be ignored.
 * ------------------------------------------------------------------------------------
 */

/* body defines the entire area within the browser.  Anything defined here will be 
   inherited acroos the entire design. It's also the place to define any background 
   styling */
body
{
  font-family:verdana,arial,sans-serif;
  color:black;
  background-color:#cc9;
}
body a{text-decoration:none;}

/* main is the container for our site */
main
{
  max-width:850px;
  min-width:300px;
  margin:0 auto;
  background-color:white;
  border-radius:10px 10px 10px 10px;
  box-shadow: 	0px 10px 20px rgba(0,0,0,0.6);
}

/* header defines the area above the nav bar.  It contains the page title, the 
 * page subtitle (or "tagline"), the site logo, and "figure" - the banner graphic.
 */
header
{
  margin-bottom:0;
  padding:5px 0 0px 0px;
  border-radius:10px 10px 0px 0px;
  text-align:left;
}
header h3{font-size:2em;padding:0px;margin:0.2em 10px 0 110px;}
header p{font-size:1em;font-style:italic;padding:2px 0 5px 0px;margin:0 0 0 120px;}
/* header img is the site logo.  It's expected to be 50px high by 65px wide */
header img{height:50px;float:left;margin:8px 10px 0 30px;}
/* The header figure comes last inside header.  It is entirely empty as far as HTML 
 * content is concerned, but it allows us to display a graphic as a banner.
 */
header figure
{
  background-image:url('../graphics/banner-trimsite.png');
  margin:0;
  height:110px;
}

/* nav is the navigation bar.  nav itself and the menu links are redefined in 
 * the @media sections for the various screen widths; here we define the basics.
 */
nav
{  
  margin:0 auto;
  background-color:black;
  height:1.5em; /* height:2em; */
  padding:5px 0 0 110px;
}
/* nav img is the menu icon that displays at narrow widths instead of the full menu */
nav img{display:none;}
nav a, nav nav
{
  float:left;
  text-decoration:none;
  /* text-align:center; */
  color:white;
  padding:0px 16px 0 0;
}
nav a.current{color:gray;}
nav a:hover{color:#ccc;}
/* Now we need to define what happens for sub-menus */
nav nav a
{
  display:none;
  float:none;
  opacity:0.0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
  padding:5px 10px 0px 5px;
  background-color:black;
  height:24px;
}
nav nav a:first-child {display:inline;opacity:0.99;height:24px;padding:0px 0px 4px 5px;}
nav nav:hover > a
{
  display:block;
  opacity:0.99;
  filter: alpha(opacity=100);  /* For IE8 and earlier */
  margin-top:10px;
  background-color:black;
}

/* section defines the main content area */
section
{
  background-color:white; /* Don't think this is necessary */
  padding:10px 100px 10px 100px;
}
section h3{padding-left:10px;}
section h4, h5, h6{padding-left:20px;}
section p{padding:0 20px 0 20px;}
section p.centre{text-align:center}
section table{margin-left:auto; margin-right:auto;font-style:italic;border-collapse:collapse;}
section tr{border-style:solid;border-width:1px 0 1px 0}
section td.wide{width:15em;}
section td.r-align{text-align:right;}
section img{display:block; margin-left:auto; margin-right:auto;}
section img.right{float:right; height:120px; width:auto;margin:0 10px 0 10px;}
section img.left{float:left; height:120px; width:auto;margin:0 10px 0 20px;}
section pre{overflow:scroll;padding:20px;}

/* footer defines the bottom of the page */
footer
{
  font-style:italic;
  font-size:small;
  color:gray;
  background-color:white; /* Don't think this is necessary */
  padding:10px 100px 10px 100px;
  border-radius:0px 0px 10px 10px;
}
footer p{padding:0 10px 0 10px;}

/**
 * ------------------------------------------------------------------------------------
 * The following section applies to ALL screen widths.  It's here to undo any IE 
 * quirks inserted in the section above.
 * ------------------------------------------------------------------------------------
 */
@media screen
{
  /* Note: If we design our template correctly, we can avoid having to undo IE quirks.
   *       One principle is to use padding rather than margin - it avoids browsers
   *       interpreting them differently ;-) */
}

/**
 * ------------------------------------------------------------------------------------
 * The following section defines attributes specific to narrow screen widths.  In 2016, 
 * this applies mainly to mobile phones in portrait mode.
 * ------------------------------------------------------------------------------------
 */
@media screen and (max-width:480px)
{
  /* We haven't a lot of room.  So the first job is to reduce the size of the header 
   * as much as we can */
  body{font-size:small;}
  header h3{margin-left:75px;font-size:1.8em;}
  header p{margin-left:85px;font-size:1.1em;}
  header img{height:50px;float:left;margin:3px 10px 0 5px;}

  /* OK, we -could- have kept the nav bar styled similarly to the larger widths.  But 
   * this started life as a demo, so we make a very noticeable change to the style, 
   * right...?  Just to prove that this is truly responsive ;-) */
  nav {padding:4px 0 4px 10px;}
  nav img {display:inline;padding:0px 10px 0 0px;}
  /*nav a, nav nav, nav nav a:first-child
  {
    display:none;
    position:relative;
    width:100px;
    left:0px;
    top:-20px;
    background-color:transparent;
  }*/
  
  /* Set a small left margin */
  nav{margin:0 auto;padding-left:10px;padding-top:2px;}
  
  /* Swap over to the menu icon */
  nav img 
  {
    display:inline;
    float:left;
    margin-left:0;
    padding-top:0;
    border:none;
  }
 
  /* Now format up the primary menu entries */
  nav a, nav nav, nav nav a:first-child
  {
    display:none;
    float:none;
    position:relative;
    padding:5px 10px 5px 10px;
    margin-left:40px;
    width:80px;
    height:auto;
    background-color:white;
    border:solid black;
    border-width:0 2px 0 2px;
    color:black;
    /*clear:both;*/
  }
  nav:hover > a, nav:hover > nav, nav:hover > nav a:first-child{display:block;}
  nav a:hover, nav nav a:hover {color:blue;}
  nav a:first-of-type {border-width:2px 2px 0px 2px;border-radius:5px 5px 0 0;}
  nav a:last-of-type {border-width:0 2px 2px 2px;border-radius:0 0 5px 5px;}

  /* And the sub-menu entries */
  nav nav 
  {
    padding:0px;
    margin:0 0 0 40px;
    border:none;
  }
  nav nav a 
  {
    /*position:absolute;*/
    display:none;
    margin-left:110px;
    padding-top:0;
    float:left;
    background-color:#ddd;
    width:80px;
  }
  nav nav a:first-child 
  {
    position:relative;
    border-width:0px 2px 0px 2px;
    border-radius:0 0 0px 0px;
    margin-left:0px;
  }
  nav nav:hover {background-color:#ddd;}
  nav nav:hover > a {display:block;background-color:#ddd;}
  nav nav:hover > a:first-child {width:185px;border-width:2px 2px 0px 2px;border-radius:0 5px 0px 0px;}
  nav nav:hover > a:last-child {padding-bottom:0px;}

  p.clear{float:none;}

  /* This bit just tinkers with the padding a little bit to maximise the usage of 
   * the available space */
  section{padding:10px 0 10px 0;}
  section h3{font-size:1.1em;}
  section img{width:280px;}
  footer {padding:10px 0 10px 0;}
}

/**
 * ------------------------------------------------------------------------------------
 * The following section defines attributes specific to intermediate widths.  This will 
 * tend to apply to mobile phones in landscape mode, for example.
 * ------------------------------------------------------------------------------------
 */
@media screen and (min-width:481px) and (max-width:600px)
{
  /* For intermediate widths, we shunt the header over to the left a little more to 
   * make a bit more room */
  header h3{margin-left:75px;}
  header p{margin-left:85px;}
  header img{height:50px;float:left;margin:8px 10px 0 5px;}

  /* We then then reduce the side margins to 0 (we can allow the h3 and p styles to 
   * give us the necessary indents) */
  nav{margin:0 auto;padding-left:10px;}
  section{padding:10px 0 10px 0;}
  footer{padding:10px 0 10px 0;}
}

/**
 * ------------------------------------------------------------------------------------
 * The following section defines attributes specific to wider screen widths.
 * ------------------------------------------------------------------------------------
 */
@media screen and (min-width:840px)
{
  /* Note: This section is here to deal with anything specific to widths greater than
   *       840px */
section pre{overflow:visible;padding-right:0px;}
}

/**
 * ------------------------------------------------------------------------------------
 * The following section defines any changes of layout required for the printer.  This 
 * might include dropping out the banner graphic, for example.
 * ------------------------------------------------------------------------------------
 */
@media print
{
  header figure{background-image:none;}
}
/**---------------------------------------------
 *             End of Code
 *----------------------------------------------
 */
